<div class="row form-group" ng-form="{{field}}" ng-class="{ 'has-error' : {{field}}.$dirty && {{field}}.$invalid }">

    <label class="col-sm-2 control-label">
        {{field | labelCase}} <span ng-if="required">*</span>
    </label>

    <div class="col-sm-6" ng-switch="required">
        <input class="form-control" ng-switch-when="true" required ng-model="record[field][0]"
               type="{{record[field][1]}}" ng-change="update()" ng-blur="blurUpdate()"/>

        <div class="input-group" ng-switch-default>
         <input class="form-control" ng-model="record[field][0]"
               type="{{record[field][1]}}" ng-change="update()" ng-blur="blurUpdate()"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="remove(field)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </span>
        </div>
    </div>

    <div class="col-sm-4 has-error" ng-show="{{field}}.$dirty && {{field}}.$invalid" ng-messages="{{field}}.$error">
        <p class="control-label" ng-message="required">{{field | labelCase}} is required.</p>
        <p class="control-label" ng-repeat="(k, v) in types" ng-message="{{k}}">
            {{field | labelCase}} {{v[1]}}
        </p>
    </div>
</div>