<h2>Settings</h2>
<p>Choose the fields you would like to display:</p>


<div class="checkbox" ng-repeat="field in allFields">
    <label>
        <input type="checkbox" value="{{field}}"
               ng-checked="{{ fields.indexOf(field) > -1 }}" ng-click="toggle(field)"/>
        {{field | labelCase}}
    </label>
</div>